* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Verdana, sans-serif;
  --clr-bcg: #303030;
  --clr-primary: #141414;
  --clr-light: #f3f3f3;
  --clr-color: #30c5a1;
  /* border: red 1px solid; */
}

.visible {
  display: block;
}

.none {
  display: none;
}

body {
  background: var(--clr-bcg);
  color: var(--clr-light);
}

h1 {
  font-size: 50px;
  margin: 25px 50px;
  opacity: 0.2;
  text-align: center;
}

.calculator {
  background: var(--clr-primary);
  border-radius: 20px;
  width: 350px;
  height: 650px;
  margin: 5px auto;
}

.results-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 30px 5px 30px;
  text-align: right;
  height: 50%;
}

.memory {
  display: flex;
  flex-direction: column-reverse;
  gap: 5px;
  font-weight: 500;
  opacity: 0.5;
  height: 60%;
  overflow-y: auto;
  overscroll-behavior: contain;
}

.memory::-webkit-scrollbar {
  display: none;
}

.keypad {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  margin: 5px 20px;
}

.keypad::before {
  content: "";
  display: inline-block;
  height: 2px;
  width: 90%;
  background: var(--clr-light);
  border-radius: 50%;
  opacity: 0.25;
  margin-bottom: 10px;
}

[type="button"] {
  position: relative;
  flex-basis: calc(100% / 4);
  font-size: 45px;
  height: 55px;
  width: 55px;
  border-radius: 5px;
  border: 0;
  background: transparent;
  color: var(--clr-light);
  cursor: pointer;
}

[type="button"]:hover {
  opacity: 0.7;
}

.fun-btn {
  color: var(--clr-color);
}

#evaluate {
  color: var(--clr-light);
  background-color: var(--clr-color);
}

.btn-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(-15%);
}

.sample-result {
  height: 30%;
}

.active {
  height: 65%;
  font-size: 40px;
  font-weight: 700;
}

.sample {
  opacity: 1 !important;
  margin-bottom: 5px;
}

.nonactive {
  height: 35%;
  font-size: 18px;
  font-weight: 500;
  opacity: 0.5;
}

@media (width <= 600px) {
  h1 {
    display: none;
  }
  .calculator {
    height: 100vh;
    width: 100vw;
    margin: 0;
    border-radius: 0;
  }
}
